
/* Pagination fix */
.pagination .disabled, .pagination .currentStep, .pagination .step {
    float: left;
    padding: 0 14px;
    border-right: 1px solid;
    line-height: 34px;
    border-right-color: rgba(0, 0, 0, 0.15);
}
.pagination .prevLink {
    border-left: 1px solid #DDD !important;
}


.game-log {
    font-size: 11px;
}





.stats {
    font-size: 12px;
}

.stats.fielding {
    width: 250px;
}

.stats.pitching {
    width: 650px;
}

.stats.hitting {
    width: 700px;
}



th {
    text-align: center;
    background: #f1f1f1;
}

.stats td {
    text-align: right;
}



.highest  {
    font-weight: bold;
    font-size: 13px;
}

.advanced {
    display: none;
}



.table.game-list td {
    padding: 2px;
}


.hot {
    background: #ffa500;
}


.cold {
    background: #a7becc;
}


#date-picker {
    width: 160px;
}

.started {
    background: #f1f1f1;
}

.probable {
    font-size: 11px;
}

.table.players {
    width: 100%;
    min-width: 100%;
    margin-top: 0px;
}

.table.players .selected {
    background: #e3f1de;
}

#games {
    width: 650px;
}

#games td {
    padding: 0px;
    vertical-align: middle;
}

#games th {
    text-align: center;
}

.game-team {
    width: 75px;
}

.game-team .team-button {
    border-radius:0 !important;
    display: table-cell;
    width: 45px;
    height: 25px;
    font-size: 9px;
}

.game-team .exclude-button {
    border-radius:0 !important;
    border: 0px;
    font-size: 9px;
    height: 25px;
    display: table-cell;
}

.game-team .exclude-button.active {
    background: darkblue;
    color: white;
}

.game-time {
    font-size: 11px;
    text-align: center;

}



.pp {
    font-weight: bold;
    color: #13519f;
}

.team-button.lineup-populated {
    background-color: #2aabd2;
    color: white;
}


.team-button.lineup-populated.btn-primary {
    background-color: #286090;
    color: white;
}


.select-player-button {
    height: 15px;
    width: 15px;
}

.tiny {
    font-size: 8px;
}


.position-filter {
    display: table-row;
}

.position-filter a {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
}



table.table-bordered.dataTable tbody td {
    padding-left: 4px;
    padding-bottom: 0px;
    padding-top: 6px;
    padding-right: 4px;
    text-align: right;
    border-style: dotted;
    white-space: nowrap!important;
}

table.table-bordered.dataTable tbody td.left {
    text-align: left;
}

#hitter-table_filter {
    display: none;
}

#pitcher-table_filter {
    display: none;
}

.navbar-inverse.table-navbar {
    margin-bottom: 0px;
    background: #337ab7;
    border: 0px;
}

.meta-headers th {
    background: #616161;
    color: #ffffff;
}

.playerName a {
    text-decoration: underline;
    margin-right: 5px;
}

.playerName .small {
    font-weight: normal;
    color: #000000;
}

table.dataTable.table-condensed > thead > tr > th {
    padding-right: 0px; !important

}

.dataTable > thead > tr > th[class*="sort"]::after{
    display: none
}



.official {
    text-transform: capitalize;
    background: green;
    color: white;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
}

.badge.official {
    background: green;
    color: white;
}


.confirmed {
    text-transform: capitalize;
    background: #f4ee9a;
    color: black;
    font-size: 10px;
    text-align: center;
}

.badge.confirmed {
    background: #f4ee9a;
    color: black;
}

.unconfirmed {
    text-transform: capitalize;
    background: gray;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}

.badge.unconfirmed {
    background: gray;
    color: #ffffff;
}

.badge.out {
    color: white;
    background: red;
}

#games td.lineup-status {
    vertical-align: middle;
    width: 75px;
}

#games td.weather-status {
    vertical-align: middle;
    width: 75px;
    text-align: left;
    font-size: 14px;
}

.weather-status.green {
    background: green;
    color: white;
}

.weather-status.yellow {
    background: yellow;
    color: black;
}

.weather-status.red {
    background: red;
    color: white;
}

.wind-status {
    width: 100px;
    font-size: 10px;
}

.wi-wind {
    font-size: 21px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

.popover{
    max-width:350px;
    min-width: 350px;
    width: 350px;
    height:675px;
}


table.hitter-recent-gamelog {
    width: 320px;
    max-width: 320px;
}

table.hitter-season-summary {
    width: 320px;
    max-width: 320px;
}


table.table.hitter-season-summary td, table.table.hitter-season-summary th, table.table.hitter-recent-gamelog td, table.table.hitter-recent-gamelog th {
    padding: 2px;
    font-size: 11px;
    text-align: right;
}


.stats .total {
    font-weight: bold;
    border-top: 1px solid black;
    background: #f1f1f1;
    font-size: 12px;
}

.active-split {
    background: #e3f1de;
}

.bo-out {
    opacity: .5;
}



code,
kbd,
pre,
.img-rounded,
.img-thumbnail,
.img-circle,
.form-control,
.btn,
.btn-link,
.dropdown-menu,
.input-group-addon,
.input-group-btn,
.nav-tabs a,
.nav-pills a,
.navbar,
.navbar-toggle,
.icon-bar,
.breadcrumb,
.pagination,
.pager *,
.label,
.badge,
.jumbotron,
.thumbnail,
.alert,
.progress,
.panel,
.well,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.carousel-indicators li {
    border-radius:0 !important;
}